* {
    box-sizing: border-box;
}

:root {
    --background-tint: #fff;
    --background-color: #eee;
    --sidebar-background-color: #ccc;
    --text-color: #222;
    --second-text-color: #555;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-background-color: rgba(0, 0, 0, 0.05);
}

html.dark-theme {
    --background-tint: #2a2a2a;
    --background-color: #121212;
    --sidebar-background-color: #000;
    --text-color: #fff;
    --second-text-color: #666;
    --border-color: rgba(127, 127, 127, 0.2);
    --hover-background-color: rgba(255, 255, 255, 0.05);
}

html.dark-theme {
    scrollbar-color: #333 var(--background-color);
    scrollbar-width: thin;
}

html.dark-theme ::-webkit-scrollbar {
    width: 8px;
    background: var(--background-color);
}

html.dark-theme ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

html.dark-theme ::-webkit-scrollbar-thumb:hover {
    background: #444;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    transition: background-color .1s linear;
}

#tests-list-container {
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background: var(--sidebar-background-color);
    color: var(--text-color);
    transition: background-color .1s linear;
}

#test-container {
    flex: 1;
    overflow: auto;
    height: 100%;
    position: relative;
    padding: 10px;
}

#tests-list-container .test-case {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
}

#tests-list-container .test-case:hover {
    background: var(--hover-background-color);
}

#tests-list-container .test-case h2 {
    margin: 0;
    font-size: 1.2rem;
}

#tests-list-container .test-case p {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: var(--second-text-color);
}

#tests-list-container .test-case button {
    margin-left: auto;
    padding: 5px 10px;
    background: #00838f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#test-container .loading-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .9rem;
    color: var(--second-text-color);
    text-align: center;
    font-style: italic;
}

.test-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}


/* Test 1 */

.filterbar {
    /* background: rgba(127, 127, 127, 0.1); */
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    width: clamp(300px, 50%, 800px);
    height: 40px;
}

.filterbar .filter-input {
    width: 250px;
    height: 100%;
    padding: 5px;
    border: 0px solid var(--border-color);
    border-radius: 5px;
    background: var(--background-tint);
    color: var(--text-color);
    transition: border-color .1s linear;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.filterbar .filter-field-select {
    width: 100px;
    height: 100%;
    padding: 5px;
    border: 0px solid var(--border-color);
    border-radius: 5px;
    background: var(--background-tint);
    color: var(--text-color);
    transition: border-color .1s linear;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.filterbar .filter-field-select:hover {
    background: #fafafa;
}

#table-container-1 {
    width: min(95%, 800px);
    height: 600px;
    /* border: 1px solid #aaa; */
    background: #fff;
    overflow: auto;
    user-select: none;
}

#table-container-1 .thead .tr {
    white-space: nowrap;
}

#table-container-1 :where(.th, .td) {
    padding: 5px;
}

#table-container-1 .tbody .tr.selected {
    background-color: #6da6ab;
    color: #fff;
}

#table-container-1 .thead .th {
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    background-color: #ddd;
    padding: 5px;
    user-select: none;
    vertical-align: top;
}

#table-container-1 .thead .th:hover {
    background-color: #c0c0c0;
}

#table-container-1 .tbody .tr .td .btn-tooltip {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#table-container-1 .tbody .tr .td .btn-tooltip span {
    width: 2px;
    height: 2px;
    background: #00838f;
}

#table-container-1 .tbody .tr .td .btn-tooltip:hover {
    background: rgba(86, 130, 180, 0.1);
}

#table-container-1 .thead .th .cell-value {
    height: 100%;
    display: inline-block;
    line-height: 4;
}

#table-container-1 .tbody .td {
    border-color: rgba(0, 0, 0, 0.1);
}

#table-container-1 .tbody .tr:not(.selected):hover .td {
    background-color: #f0f0f0;
}

#table-container-1 .tbody .tr .td.tooltip {
    padding: 0;
}

#table-container-1 .dragging-hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #00838f;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1;
    /* animation: outline-grow-fade 1s ease-out infinite; */
}

#table-container-1 .dragging-hover .td {
    background: color-mix(in srgb, #00838f, transparent 80%);
}

#table-container-1 .btn-expand:hover .expand-icon {
    border-color: #00838f;
}

#table-container-1 :where(.th, .td)[data-type="number"] {
    text-align: right;
    color: #666;
    font-size: .8rem;
}

#table-container-1 .td.field-id {
    font-size: .6rem;
    color: #888;
}

.draggable-div {
    --bg: #00838f;
    --fg: #fff;

    background: var(--bg);
    color: var(--fg);
    border: 1px solid transparent;
    padding: 10px;
    cursor: move;
    user-select: none;
}

.action-delete {
    --bg: #d32f2f;
    --fg: #fff;
}

.action-insert-below {
    --bg: #1976d2;
    --fg: #fff;
}

.action-insert-children {
    --bg: #388e3c;
    --fg: #fff;
}

.action-update {
    --bg: #fbc02d;
    --fg: #000;
}

.draggable-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Test 2 */

#table-container-2 {
    width: 100%;
    height: 100%;
    background: #fff;
}

/* Test 3 */

#table-container-3 {
    --border-radius: 6px;
    width: min(95%, 850px);
    height: 460px;
    border-radius: var(--border-radius);
}

#table-container-3 .table {
    width: 100%;
}

#table-container-3 :where(.th, .td) {
    padding: 10px;
    background: #212121;
    color: #fff;
    user-select: none;
}

#table-container-3 .thead .tr .th:first-child {
    border-top-left-radius: var(--border-radius);
}

#table-container-3 .thead .tr .th:last-child {
    border-top-right-radius: var(--border-radius);
}

#table-container-3 .tbody .tr:last-child .td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

#table-container-3 .tbody .tr:last-child .td:last-child {
    border-bottom-right-radius: var(--border-radius);
}


#table-container-3 .tr .td {
    border-right: none;
    border-left: none;
    border-color: #232323;
    background-color: #191919;
    color: #808080;
    font-size: .85rem;
    line-height: 2.4;
}

#table-container-3 .tbody .tr:last-child .td {
    border-bottom: none;
}

#table-container-3 .thead .th {
    height: 50px;
    border: none;
    border-bottom: 1px solid #2e2e2e;
}

#table-container-3 :where(.thead .th, .tbody .td) .cell-value {
    vertical-align: middle;
    height: auto;
    line-height: initial;
}


/*  */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes outline-grow-fade {
    0% {
        transform: scale(1);
        opacity: 0;
        border-width: 2px;
    }
    10% {
        transform: scale(1);
        opacity: 1;
        border-width: 2px;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
        border-width: 5px;
    }
}
