* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    border-bottom: 1px solid #aaa;
}

.virtual-table {
    width: 800px;
    height: 600px;
    /* border: 1px solid #aaa; */
    background: #fff;
    overflow: auto;
}

#table-container {
    width: 800px;
    height: 600px;
}

#table-container2 {
    width: 1200px;
    height: 400px;
}

#table-container .thead .tr {
    white-space: nowrap;
}

#table-container :where(.th, .td) {
    padding: 5px;
}

#table-container .tbody .tr.selected {
    background-color: #6da6ab;
    color: #fff;
}

#table-container .thead .th {
    border: 1px solid #666;
    height: 50px;
    background-color: #f0f0f0;
    padding: 5px;
}

#table-container .tbody .td {
    overflow: hidden;
}

#table-container .tbody .tr .td:not(:last-child),
#table-container .thead .tr .th:not(:last-child) {
    border-right: none;
}

#table-container .tbody .tr:not(.selected):hover .td {
    background-color: #f0f0f0;
}

#table-container .dragging-hover .td {
    background: color-mix(in srgb, #00838f, transparent 80%);
}

#table-container .btn-expand:hover .expand-icon {
    border-color: #00838f;
}


/* Test 1 - Drag & Drop feature */

.draggable-div {
    background: #00838f;
    color: #fff;
    border: 1px solid transparent;
    margin: 10px;
    padding: 10px;
    cursor: move;
    user-select: none;
}

#clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Test 2 */

#table-container2 {
    width: fit-content;
}


/*  */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}